command = /opt/homebrew/bin/fish

shell-integration-features = no-cursor

theme = "iTerm2 Default"
selection-foreground = #000000
selection-background = #defe52

font-size = 14
font-family = MesloLGS NF
font-style = Regular

macos-titlebar-style = tabs

window-height = 30
window-width = 140

mouse-hide-while-typing = true
cursor-style-blink = true
cursor-style = block
adjust-cursor-thickness = 300%

confirm-close-surface = false

resize-overlay = never

# background-opacity = 0.85
# background-blur = true

keybind = super+f=write_screen_file:open
