shell-integration-features = no-cursor

theme = "Nocturnal Winter"

font-size = 18
font-family = SF Mono
font-style = Regular

macos-titlebar-style = tabs

window-height = 45
window-width = 160

mouse-hide-while-typing = true
cursor-style-blink = true
cursor-style = block
adjust-cursor-thickness = 300%

confirm-close-surface = false

resize-overlay = never

background-opacity = 0.9
background-blur = true

# Keybindings
keybind = control+]=write_scrollback_file:paste
keybind = cmd+z+=toggle_split_zoom

# Open search until scrollback is finished
keybind = super+f=write_screen_file:open

